//Colors

$white:#F5F3F2;
$black:#23272A;
$coral:#F9A196;
$cerise:#ED6591;
$green:#B5D07D;
$yellow:#F5E66D;

//Fonts
$heading: "Baloo 2";
$text: "Sulphur Point";

//Shadow
$white-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);