@import "partials/variables";
@import "partials/mixins";

body{
    margin:0;
    background: $white;
    color: $black;
.wrapper{
    display:flex;
    flex-direction: column;
    position: absolute;

header {
    display: flex;
    flex-direction: column;
    position:fixed;


    .header-top {
        display:flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        width: 390px;
        background: $green;

        img{
            width: 63px;
            margin-left:10px;
        }

        .fa-bars {
            color: $white;
            margin:10px;
            font-size: 50px;
            text-shadow: 1px 1px black;
        }
    }

    .header-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 390px;
        height:31px;
        background: $cerise;
    }
}

.content{
    width:390px;
    height: 600px;
}

footer {
    width:390px;
    height: 72px;
    background: $green;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    


    .footer-nav{
        display: flex;
        justify-content: center;
        
    ul {
        list-style-type:none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin:0;
        padding: 0;

    a {
        text-decoration: none;
        color: $black;
        padding: 0 5px 0 5px;

    &:hover {
        color: white;
    }
}
}


    }
    p {
        margin: 0;
    }
}

}
}